body {
    background-color: black;
}

.main {
    background-color: #fff;
    overflow: hidden;
}

header {
    overflow: hidden;
    background-color: grey;
}

header .header img {
    float: right;
    background-color: azure;
    margin: 20px;
    height: 150px;
    width: 150px;
}

header .title h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: aliceblue;
    margin-left: 30px;
}